*{
  padding: 0;
  margin: 0;
}
.App {
  background-image: linear-gradient(rgb(61, 61, 201),pink, white);
  text-align: center;
  height: 100vh;
}
.Functiondiv{
  background-color: aqua;
  border: 2px solid black;
  border-radius: 10px;
  height: 250px;
  width: 600px;

}
.Classcompodiv{
  background-color: violet;
  border: 2px solid black;
  border-radius: 10px;
  height: 250px;
  width: 600px;
}
.buttoncontainer{
display: flex;
justify-content: space-evenly;
height: 10vh;
margin-top: 10px;
}
.buttoncontainer button{
  border-radius: 10px;
  width: 400px;
}

.ComponentContainer{
  margin: 50px 10px;
  display: flex;
  justify-content: space-between;
}
.head{
  color: beige;
  text-shadow: 3px 3px 3px red;
}

